{{ partial "head" . }}
	<body id="top">
		{{ partial "header" . }}

		{{ "<!-- Main -->" | safeHTML }}
		<div id="main">
		  <h3 class="major" style="color: #00ccee">
		    <a href="/">Tutoring</a> &nbsp;&nbsp; <a href="/post/">Writing</a>
		  </h3>
		  <h1 class="major" style="line-height: 1.2em">
		    Su Thompson
		    <br/>
		    <div style="font-size:75%">Writing</div>
		  </h1>

		  <h2>Poems</h2>

		  <div style="margin-left: 2em;">
		    
		  {{ range .Data.Pages.ByDate }}
		    {{ if eq .Params.kind "poem" }}
		      <a href="{{ .Permalink }}">{{ .Title }}</a>
		      &mdash;
		      <i>{{.Date.Format "Jan 2006"}}</i>
		      <div style="margin-left: 2em;">
			{{ if .Description }}
			  {{ .Description }}
			  <p>
			{{ else }}
			  {{ .Summary }}
			{{ end }}
		      </div>
		    {{ end }}
		  {{ end }}

		  </div>
		  
		  <h2>The Girl</h2>

		  <div style="margin-left: 2em;">		  

		    {{ range .Data.Pages.ByWeight }}
		      {{ if eq .Params.kind "girl" }}
			<a href="{{ .Permalink }}">{{ .Title }}</a>
			&mdash;
			<i>{{.Date.Format "Jan 2006"}}</i>
			<div style="margin-left: 2em;">
			  {{ if .Description }}
			    {{ .Description }}
			    <p>
			  {{ else }}
			    {{ .Summary }}
			  {{ end }}
			</div>
		      {{ end }}
		    {{ end }}
			
		  </div>

		  <h2>Other Stories</h2>

		  <div style="margin-left: 2em;">		  

		    {{ range .Data.Pages.ByWeight }}
		      {{ if eq .Params.kind "misc" }}
			<a href="{{ .Permalink }}">{{ .Title }}</a>
			&mdash;
			<i>{{.Date.Format "Jan 2006"}}</i>
			<div style="margin-left: 2em;">
			  {{ if .Description }}
			    {{ .Description }}
			    <p>
			  {{ else }}
			    {{ .Summary }}
			  {{ end }}
			</div>
		      {{ end }}
		    {{ end }}
			
		  </div>

		  <h2>A Box Of Chocolates</h2>

		  <div style="margin-left: 2em;">
		    
		  {{ range .Data.Pages.ByWeight }}
		    {{ if eq .Params.kind "box" }}
		      <a href="{{ .Permalink }}">{{ .Title }}</a>
		      &mdash;
		      <i>{{.Date.Format "Jan 2006"}}</i>
		      <div style="margin-left: 2em;">
			{{ if .Description }}
			  {{ .Description }}
			  <p>
			{{ else }}
			  {{ .Summary }}
			{{ end }}
		      </div>
		    {{ end }}
		  {{ end }}
		  
		  </div>

		  <h2>COVID Stories</h2>

		  <div style="margin-left: 2em;">
		    
		  {{ range .Data.Pages.ByWeight }}
		    {{ if eq .Params.kind "covid" }}
		      <a href="{{ .Permalink }}">{{ .Title }}</a>
		      &mdash;
		      <i>{{.Date.Format "Jan 2006"}}</i>
		      <div style="margin-left: 2em;">
			{{ if .Description }}
			  {{ .Description }}
			  <p>
			{{ else }}
			  {{ .Summary }}
			{{ end }}
		      </div>
		    {{ end }}
		  {{ end }}
		  
		  </div>

		{{ partial "footer" . }}
	</body>
</html>
		
