<section id="one">
  <header class="major">
    <h2 style="line-height: 1.2em">
      Moyse Tutoring
      <br/>
      <div style="font-size: 75%">English and Social Studies</div>
    </h2>
  </header>
  <p>
    Moyse Tutoring works alongside high school and college students
    that need assistance with English or Social Studies. It aims to
    provide a nurturing and caring environment where young adults and
    teenagers receive custom-fit tuition. It is a place where tutoring
    is skilled, knowledgeable and professional, and where students
    have the opportunity to flourish.
  </p>
  <p>
    Many students require extra help with their courses at one time or
    another: it may be that they are struggling with a particular
    aspect of the subject, or have a demanding project to complete or
    exam to write. They might be preparing for further education, or
    need help composing an essay or paper. Some need just a couple of
    sessions, some may require several more. Moyse Tutoring works with
    each student to find the best resources and the most appropriate
    teaching and learning approaches to help them achieve their
    objectives, whilst keeping parents/guardians appraised of
    progress.
  </p>
  <p>
    All tuition takes place in a designed-for-purpose tutoring room
    centrally located on South Granville Street at 11th Avenue. It is
    a space that that allows students to feel comfortable and at home,
    but that encourages them to focus on the task in hand, to make the
    very most of the time given. All materials are of the best
    quality, and wholesome snacks and hot drinks/water are always
    available (especially for those students who have just finished
    their school day). The South Granville Street location is ideal
    for transportation links, as well as a great place for parents to
    shop or get a coffee whilst their children have their sessions.
  </p>
  <p>
    Tuition is from 3.30pm to 8.30pm on Monday, Wednesday and Thursday
    evenings, and from 11am to 6pm on Saturdays. Sessions can be
    one-on-one, or for a group of up to four. Tutoring is also
    available as needed during the school holidays, and at other times
    by arrangement. Students are initially assessed by a free 20-30
    minute consultation. In this way, parents and students can get to
    know Moyse Tutoring, and further sessions can be prepared ahead of
    time. There are no formal contracts or obligations: tuition works
    best when there is a foundation of trust built between student,
    tutor and parents.
  </p>
  <header class="minor">
    <h2 style="line-height: 1.2em">
      Su Thompson
      <br/>
      <div style="font-size: 75%">Tutor</div>
    </h2>
  </header>
  <p>
    Su is originally from London, United Kingdom. After gaining her
    Bachelor’s degree at the University of Sheffield, Su worked for
    several years in sales and marketing. Feeling that she wanted a
    more fulfilling career, she re-trained as a secondary school
    teacher at the Institute of Education (University of London). Su
    then went on to teach at three public schools, before emigrating
    to Canada with her husband in 2004.
  </p>
  <p>
    For two years, Su worked at a private secondary school in
    Vancouver, teaching Geography 12, Planning 10 and Social Studies
    11. She then decided to pursue post-graduate studies, and gained
    her Master’s degree (Curriculum and Pedagogy), from the University
    of British Columbia in 2013.
  </p>
  <p>
    Since then, Su has worked as a tutor in English and Social Studies
    for a small independent academy, where she has gained a reputation
    as a much sought-after and innovative educator.  Su has a very
    clear perspective on how tutoring should be directed, and firmly
    believes that there is a need for exceptional, high quality
    tuition that is designed for the individual student.
  </p>
  <header class="minor">
    <h2>Pricing</h2>
  </header>
  <p>
    Tuition is $40 per hour for one-on-one, including taxes, payable
    by cheque or cash at each session.
  </p>
  <p>
    Each additional student (up to four students total) is $10; two
    students = $50, three students = $60, four students = $70 total.
  </p>
  <p>
    Su also donates a percentage of her time for pro-bono tuition.
  </p>
  <!--
  <p>
    <i>
      “Human flourishing is not a mechanical process; it's an organic process. And you cannot
      predict the outcome of human development. All you can do, like a farmer, is create the
      conditions under which they will begin to flourish.”
    </i>
    <br/>
    ― Ken Robinson
    -->
  </p>	  
</section>
