{{ "<!-- Header -->" | safeHTML }}
<header id="header">
  <a href="#" class="image avatar"><img src="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" alt="" /></a>
  <p>
    <header class="minor">
      <h1>
	<i>
	  “We are exploring together. We are cultivating a garden together,
	  backs to the sun. The question is a hoe in our hands and we are
	  digging beneath the hard and crusty surface to the rich humus of our
	  lives.”
	</i>
      <br/>
      ― Parker J. Palmer
      </h1>
    </header>
</header>
