{{ "<!-- Header -->" | safeHTML }}
<header id="header">
  <a href="#" class="image avatar"><img src="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" alt="" /></a>
  <h1 class="major" style="color: #ccffff">Su Thompson, M.A.</h1>
  <p>
    <header class="minor">
      <h1>
	<i>
	  “We are exploring together. We are cultivating a garden together,
	  backs to the sun. The question is a hoe in our hands and we are
	  digging beneath the hard and crusty surface to the rich humus of our
	  lives.”
	</i>
      <br/>
      ― Parker J. Palmer
      </h1>
      <br/>
      <br/>
      <br/>
      <h3 class="major" style="color: #90d0ff">
	<a href="/">Tutoring</a>
      </h3>
      <h3 class="major" style="color: #90d0ff">
	<a href="/post/">Writing Blog</a>
      </h3>
    </header>
</header>
