{{ partial "head" . }}
	<body id="top">
		{{ partial "header" . }}

		{{ "<!-- Main -->" | safeHTML }}
		<div id="main">
			{{ partial "about" . }}
			<!-- {{ partial "portfolio" . }} -->
			{{ partial "contact" . }}

			<header class="minor">
			  <h2>Gweneth Moyse</h2>
			</header>
			<p>
			  Moyse Tutoring is named in memory of Gweneth Moyse: an
			  extraordinarily generous woman, kind-hearted advocate and
			  much-missed Auntie.
			</p>

		</div>
		
		{{ partial "footer" . }}

	</body>
</html>
